<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Treasure Gems</title>
</head>
<body>
	<div>
		<form action="/info" method="post">
		Introduzca el nombre de una gema: <input name="gem" type="text" /><br/>
		<input value="Enviar" type="submit" />
	</form>
	</div>
	<div>
		<p>Descargas totales realizadas en <a href="http://www.rubygems.org">RubyGems</a>: {{totaldescargas}}</p>
	</div>
</body>
</html>