% include('header.tpl')
<div class="column-left">
<h3>CONTACTO</h3>
      <ul class="menu">
        <li><a href="http://twitter.com/buenoajesus"><img src="static/twitter.png" height="50" width="50"></a></li>
        <li><a href="http://github.com/jesusba"><img src="static/github.png" height="50" width="50"></a></li>
        <div class="box">
          <li>Total de descargas realizadas en <a href="http://www.rubygems.org">RubyGems</a></p>
          <li class="button">{{totaldescargas}}</p> 
        </div>
      </ul>
    </div>
    <div id="skip-menu"></div>
    <div class="column-right">
      <div class="box">
        <div class="box-top"></div>
        <div class="box-in">
          <h2>Comencemos</h2>
          <p>Introduzca el nombre de una gema en el cuadro de búsqueda</p>
          <div id="search-form">
        <form class="form-container" action="/info" method="post">
          <form class="form-container" action="/history" method="post">
            <input name="gem" type="text" class="search-field"/>
            <div class="submit-container">
              <input type="submit" value="Buscar" class="submit" />
            </div>
          </form>
        </form>
      </div> 
      <div align=center><a href="http://all-free-download.com/free-website-templates/">TreasureGems</a>, 2015. All rights reserved.</div>
      <div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div> 
        </div>
      </div>
    </div>
    <div class="cleaner">&nbsp;</div>
  </div>
</div>
</body>
</html>