% include('header.tpl')
			<div id="search-form">
				<form class="form-container" action="/info" method="post">
					<input name="gem" type="text" class="search-field" value="Introduzca el nombre de una gema..."/>
					<div class="submit-container">
						<input type="submit" value="" class="submit" />
					</div>
				</form>
			</div>		
			<div class="column1">
				<div class="box">
					<p>Total de descargas realizadas en <a href="http://www.rubygems.org">RubyGems</a></p>
					<p class="button">{{totaldescargas}}</p> 
				</div>
			</div>
	</body>
</html>